@font-face {
  font-family: "Acknowledge";
  src: url('../fonts/acknowtt.ttf') format('truetype');
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  text-align: center;
}

canvas {
  margin: 100px auto;
}

#name-input {
  font-family: "Acknowledge";
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  outline: none;
  border: none;
  color: #C4C4C4;
  font-size: 24px;
  text-align: center;
  caret-color: #FFFFFF;
}

.hidden {
  visibility: hidden;
}